// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

article {
    box-shadow: 2px 2px 12px -4px #000000;
    display: block;
    float: left;
    margin: 1rem;
    overflow: hidden;
    padding: 1rem;
    width: 26rem;
}

article h2 a {
    color: #0099cc;
    text-decoration: none;
}

article h2 a:hover {
    text-decoration: underline;
}

article footer {
    margin-top: 16px;
}
